@tailwind base;
@tailwind components;
@tailwind utilities;


/* Abdalla */
.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}


.hero {
  background-image: url("../../public/images/hero.png");
}
.gender .men {
  background-image: url("../../public/images/gender/men.png");
}
.gender .women {
  background-image: url("../../public/images/gender/women.png");
}
.last-home-page-section {
  background-image: url("../../public/images/lastHomePageImage.webp");
}